<!doctype html>
<html lang="zh-cn">
{{ template "base/head.tmpl" "hehe" }}
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            hello world
        </div>
    </div>
</div>

</body>
</html>