{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "A Set of http api for bangumi.",
        "title": "bgm38 api server",
        "termsOfService": "No",
        "contact": {
            "name": "Trim21",
            "url": "https://github.com/Trim21",
            "email": "i@trim21.me"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/Trim21/bgm38/blob/dev/LICENSE"
        },
        "version": "0.0.1"
    },
    "host": "api.bgm38.com",
    "basePath": "/",
    "paths": {
        "/bgm.tv/v1/calendar/{user_id}": {
            "get": {
                "description": "根据在看的番剧生成ics格式日历\n如果浏览器访问时会返回纯文本数据\n在使用日历app导入时会返回日历数据",
                "produces": [
                    "text/calendar",
                    "application/json"
                ],
                "summary": "generate a calendar from watching collection",
                "operationId": "watchingCalendarV1",
                "parameters": [
                    {
                        "type": "string",
                        "description": "user_id, 可以在个人主页的网址中找到",
                        "name": "user_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "text/calendar",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/res.Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/res.ValidationError"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/res.Error"
                        }
                    }
                }
            }
        },
        "/bgm.tv/v2/view_ip/subject/{subject_id}": {
            "get": {
                "description": "Get related Subjects and their relations",
                "produces": [
                    "application/json"
                ],
                "summary": "get subject relations map",
                "operationId": "viewIP",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Account ID",
                        "name": "subject_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/viewip.subjectMapRes"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/res.Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/res.ValidationError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/res.Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "res.Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "got a error in server "
                },
                "status": {
                    "type": "string",
                    "example": "error"
                }
            }
        },
        "res.ValidationError": {
            "type": "object",
            "properties": {
                "field_name": {
                    "type": "string",
                    "example": "subject_id"
                },
                "message": {
                    "type": "string",
                    "example": "should be a integer"
                }
            }
        },
        "viewip.edge": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "map": {
                    "type": "integer"
                },
                "relation": {
                    "type": "string"
                },
                "source": {
                    "type": "integer"
                },
                "target": {
                    "type": "integer"
                }
            }
        },
        "viewip.node": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "image": {
                    "description": "= 'lain.bgm.tv/img/no_icon_subject.png'",
                    "type": "string"
                },
                "info": {
                    "type": "object"
                },
                "map": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "name_cn": {
                    "type": "string"
                },
                "subject_id": {
                    "type": "integer"
                },
                "subject_type": {
                    "type": "string"
                }
            }
        },
        "viewip.subjectMap": {
            "type": "object",
            "properties": {
                "edges": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/viewip.edge"
                    }
                },
                "nodes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/viewip.node"
                    }
                }
            }
        },
        "viewip.subjectMapRes": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "$ref": "#/definitions/viewip.subjectMap"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "integer"
                }
            }
        }
    }
}